# ETL

En esta jupyter notebook se desarrolla la extracción, transformación y carga de los conjuntos de datos.

## Importaciones

In [2]:
import pandas as pd
import json
import gzip
import numpy as np
import ast
from tqdm import tqdm
import os
from fastapi import FastAPI

import pickle
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_distances
from dateutil import parser

"""import utils"""
import warnings
warnings.filterwarnings("ignore")

## ETL de `output_steam_games`

### 1.1 Extracción de los datos

In [172]:
# Importar el Data set
dataset = pd.read_json('output_steam_games.json', lines=True)

In [173]:
#Mostramos el Dataset
dataset

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
0,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
1,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
2,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
3,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
4,None,None,None,None,None,None,None,None,None,None,NaN,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,0.0,773640.0,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,0.0,733530.0,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,0.0,610660.0,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,0.0,658870.0,"xropi,stev3ns"
120444,None,None,Maze Run VR,None,http://store.steampowered.com/app/681550/Maze_...,None,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,1.0,681550.0,None

### 1.2 Transformación de los datos

Analizamos la data si hay ID repetidas

In [174]:
call_id_counts = dataset['id'].value_counts()
call_id_counts

612880.0    2
761140.0    1
530200.0    1
518690.0    1
513460.0    1
           ..
676060.0    1
494160.0    1
215280.0    1
667090.0    1
681550.0    1
Name: id, Length: 32132, dtype: int64

Verificamos cuantos valores se repiten

In [175]:
id_mas_de_una_vez = call_id_counts[call_id_counts > 1].index.tolist()

print(id_mas_de_una_vez)

[612880.0]

Procedemos a encontrar la fila que se repite para luego analizarla

In [176]:
fila_resultado = dataset[dataset['id'] == 612880.0]
fila_resultado

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
102204,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,0.0,612880.0,Machine Games
102883,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/Wolfe...,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,0.0,612880.0,Machine Games

Observamos que ambas filas se repiten, pasamos a eliminar una de ellas

In [177]:
dataset = dataset.drop(102883)

Verificamos nuevamente por el ID REPETIDO, Observamos que ya se encuentra solo 1 fila.

In [178]:
fila_resultado = dataset[dataset['id'] == 612880.0]
fila_resultado

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
102204,Bethesda Softworks,[Action],Wolfenstein II: The New Colossus,Wolfenstein II: The New Colossus,http://store.steampowered.com/app/612880/,2017-10-26,"[Action, FPS, Gore, Violent, Alternate History...",http://steamcommunity.com/app/612880/reviews/?...,"[Single-player, Steam Achievements, Full contr...",59.99,0.0,612880.0,Machine Games

Ahora procedo a eliminar los NAN de las primeras filas(obtuve el resultado viendo hasta donde llegaban estas filas vacias en el CSV)

In [179]:
dataset = dataset.drop(range(0, 88384))
dataset

,publisher,genres,app_name,title,url,release_date,tags,reviews_url,specs,price,early_access,id,developer
88384,None,None,None,None,http://store.steampowered.com/,None,None,None,None,19.99,0.0,NaN,None
88385,2K Games,[Strategy],Railroad Tycoon II Platinum,Railroad Tycoon II Platinum,http://store.steampowered.com/app/7620/Railroa...,1998-10-31,"[Strategy, Management, Trains, Simulation, Sin...",http://steamcommunity.com/app/7620/reviews/?br...,[Single-player],4.99,0.0,7620.0,PopTop
88386,None,"[Casual, Indie]",RIP - Trilogy™,RIP - Trilogy™,http://store.steampowered.com/app/2540/RIP__Tr...,2007-06-01,"[Indie, Casual, Arcade, Shooter, Action, 2D, S...",http://steamcommunity.com/app/2540/reviews/?br...,"[Single-player, Multi-player, Co-op]",4.99,0.0,2540.0,Elephant Games
88387,2K Games,[Strategy],X-COM: Terror From the Deep,X-COM: Terror From the Deep,http://store.steampowered.com/app/7650/XCOM_Te...,1995-04-01,"[Strategy, Classic, Sci-fi, Turn-Based, Turn-B...",http://steamcommunity.com/app/7650/reviews/?br...,[Single-player],4.99,0.0,7650.0,"MicroProse Software, Inc"
88388,"Square Enix, Feral Interactive (Mac)","[Action, Adventure]",Tomb Raider: Anniversary,Tomb Raider: Anniversary,http://store.steampowered.com/app/8000/Tomb_Ra...,2007-06-05,"[Action, Adventure, Female Protagonist, Puzzle...",http://steamcommunity.com/app/8000/reviews/?br...,"[Single-player, Partial Controller Support]",8.99,0.0,8000.0,"Crystal Dynamics,Feral Interactive (Mac)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,Colony On Mars,http://store.steampowered.com/app/773640/Colon...,2018-01-04,"[Strategy, Indie, Casual, Simulation]",http://steamcommunity.com/app/773640/reviews/?...,"[Single-player, Steam Achievements]",1.99,0.0,773640.0,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,LOGistICAL: South Africa,http://store.steampowered.com/app/733530/LOGis...,2018-01-04,"[Strategy, Indie, Casual]",http://steamcommunity.com/app/733530/reviews/?...,"[Single-player, Steam Achievements, Steam Clou...",4.99,0.0,733530.0,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,Russian Roads,http://store.steampowered.com/app/610660/Russi...,2018-01-04,"[Indie, Simulation, Racing]",http://steamcommunity.com/app/610660/reviews/?...,"[Single-player, Steam Achievements, Steam Trad...",1.99,0.0,610660.0,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,EXIT 2 - Directions,http://store.steampowered.com/app/658870/EXIT_...,2017-09-02,"[Indie, Casual, Puzzle, Singleplayer, Atmosphe...",http://steamcommunity.com/app/658870/reviews/?...,"[Single-player, Steam Achievements, Steam Cloud]",4.99,0.0,658870.0,"xropi,stev3ns"
120444,None,None,Maze Run VR,None,http://store.steampowered.com/app/681550/Maze_...,None,"[Early Access, Adventure, Indie, Action, Simul...",http://steamcommunity.com/app/681550/reviews/?...,"[Single-player, Stats, Steam Leaderboards, HTC...",4.99,1.0,681550.0,None

Se Procede a Eliminar la colummnas que no vamos a necesitar

In [180]:
dataset.drop(['title',	'url',	'tags', 'specs', 'early_access', 'reviews_url'], axis=1, inplace=True)

Despues de un analisis de datos desde el dataset, determinamos que si eliminamos los nulos, no hay informacion relevante que se pierda haciendo un `dropna()`

In [181]:
dataset = dataset.dropna()
dataset

,publisher,genres,app_name,release_date,price,id,developer
88385,2K Games,[Strategy],Railroad Tycoon II Platinum,1998-10-31,4.99,7620.0,PopTop
88387,2K Games,[Strategy],X-COM: Terror From the Deep,1995-04-01,4.99,7650.0,"MicroProse Software, Inc"
88388,"Square Enix, Feral Interactive (Mac)","[Action, Adventure]",Tomb Raider: Anniversary,2007-06-05,8.99,8000.0,"Crystal Dynamics,Feral Interactive (Mac)"
88389,Capcom,[Action],Devil May Cry® 3 Special Edition,2006-05-23,19.99,6550.0,"CAPCOM Co., Ltd."
88390,Telltale Games,"[Action, Adventure]",Sam & Max 101: Culture Shock,2006-10-17,19.99,8200.0,Telltale Games
...,...,...,...,...,...,...,...
120439,Bidoniera Games,"[Action, Adventure, Casual, Indie]",Kebab it Up!,2018-01-04,1.99,745400.0,Bidoniera Games
120440,Ghost_RUS Games,"[Casual, Indie, Simulation, Strategy]",Colony On Mars,2018-01-04,1.99,773640.0,"Nikita ""Ghost_RUS"""
120441,Sacada,"[Casual, Indie, Strategy]",LOGistICAL: South Africa,2018-01-04,4.99,733530.0,Sacada
120442,Laush Studio,"[Indie, Racing, Simulation]",Russian Roads,2018-01-04,1.99,610660.0,Laush Dmitriy Sergeevich
120443,SIXNAILS,"[Casual, Indie]",EXIT 2 - Directions,2017-09-02,4.99,658870.0,"xropi,stev3ns"

Cambiamos el nombre de la columna `id` renombrandola `item_id` para futuros merges

In [182]:
dataset = dataset.rename(columns={'id': 'item_id'})

Convierte todos los valores de tipo cadena a 0 en la columna `price`

In [183]:
columna_a_convertir = 'price'

dataset.loc[dataset[columna_a_convertir].apply(lambda x: isinstance(x, str)), columna_a_convertir] = 0

Se guarda como formato .Parquet para el merge

In [184]:
dataset.to_parquet('output_steam_games.parquet', index=False)

Se guarda como formato .CSV para el merge

In [185]:
dataset.to_csv('output_steam_games.csv', index=False)

In [186]:
dataset['genres'].value_counts()

[Action]                                                                                                        1576
[Action, Indie]                                                                                                 1394
[Simulation]                                                                                                    1268
[Strategy]                                                                                                       926
[Action, Adventure, Indie]                                                                                       925
                                                                                                                ...
[Adventure, Casual, Indie, Racing, RPG, Simulation, Sports, Strategy]                                              1
[Animation &amp; Modeling, Audio Production, Design &amp; Illustration, Software Training, Video Production]       1
[Action, Free to Play, Simulation]                                                                                 1
[Casual, Indie, Sports, Strategy, Early Access]                                                                    1
[Adventure, Casual, RPG, Simulation, Early Access]                                                                 1
Name: genres, Length: 841, dtype: int64

In [187]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22767 entries, 88385 to 120443
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   publisher     22767 non-null  object
 1   genres        22767 non-null  object
 2   app_name      22767 non-null  object
 3   release_date  22767 non-null  object
 4   price         22767 non-null  object
 5   item_id       22767 non-null  float64
 6   developer     22767 non-null  object
dtypes: float64(1), object(6)
memory usage: 1.4+ MB

### ETL de `australian_user_items`

### 1.1 Extracción de los datos

In [188]:
data_list = []
#Ruta del archivo JSON
file_path = 'australian_users_items.json'

#Abrir el archivo y procesar cada línea
with open(file_path, 'r', encoding='utf-8') as file:
    for line in file:
        try:
            # Usar ast.literal_eval para convertir la línea en un diccionario
            json_data = ast.literal_eval(line)
            data_list.append(json_data)
        except ValueError as e:
            print(f"Error en la línea: {line}")
            continue

#Crear un DataFrame a partir de la lista de diccionarios
data_it = pd.DataFrame(data_list)

In [189]:
#Mostramos el dataframe
data_it

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1,js41637,888,76561198035864385,http://steamcommunity.com/id/js41637,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
2,evcentric,137,76561198007712555,http://steamcommunity.com/id/evcentric,"[{'item_id': '1200', 'item_name': 'Red Orchest..."
3,Riot-Punch,328,76561197963445855,http://steamcommunity.com/id/Riot-Punch,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
4,doctr,541,76561198002099482,http://steamcommunity.com/id/doctr,"[{'item_id': '300', 'item_name': 'Day of Defea..."
...,...,...,...,...,...
88305,76561198323066619,22,76561198323066619,http://steamcommunity.com/profiles/76561198323...,"[{'item_id': '413850', 'item_name': 'CS:GO Pla..."
88306,76561198326700687,177,76561198326700687,http://steamcommunity.com/profiles/76561198326...,"[{'item_id': '11020', 'item_name': 'TrackMania..."
88307,XxLaughingJackClown77xX,0,76561198328759259,http://steamcommunity.com/id/XxLaughingJackClo...,[]
88308,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"[{'item_id': '304930', 'item_name': 'Unturned'..."
88309,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,[]

### 2.2 Transformación de los datos
#### La columna "items" alberga datos anidados en forma de una lista de diccionarios. En este conjunto de datos, se utiliza el método de normalización, donde la columna "items" sirve como columna organizadora. De esta manera, se obtienen las claves de los diccionarios como columnas individuales.

In [190]:
# Normalizamos la columna 'items' deL DATASET
data_it1 = data_it.explode(['items'])
data_it2 = pd.json_normalize(data_it1['items']).set_index(data_it1['items'].index)
data_it3= pd.concat([data_it2, data_it1], axis=1)

In [191]:
# Mostramos el Dataframe normalizado
data_it3

,item_id,item_name,playtime_forever,playtime_2weeks,user_id,items_count,steam_id,user_url,items
0,10,Counter-Strike,6.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '10', 'item_name': 'Counter-Strike..."
0,20,Team Fortress Classic,0.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '20', 'item_name': 'Team Fortress ..."
0,30,Day of Defeat,7.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '30', 'item_name': 'Day of Defeat'..."
0,40,Deathmatch Classic,0.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '40', 'item_name': 'Deathmatch Cla..."
0,50,Half-Life: Opposing Force,0.0,0.0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'item_id': '50', 'item_name': 'Half-Life: Opp..."
...,...,...,...,...,...,...,...,...,...
88308,373330,All Is Dust,0.0,0.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '373330', 'item_name': 'All Is Dus..."
88308,388490,One Way To Die: Steam Edition,3.0,3.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '388490', 'item_name': 'One Way To..."
88308,521570,You Have 10 Seconds 2,4.0,4.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '521570', 'item_name': 'You Have 1..."
88308,519140,Minds Eyes,3.0,3.0,76561198329548331,7,76561198329548331,http://steamcommunity.com/profiles/76561198329...,"{'item_id': '519140', 'item_name': 'Minds Eyes..."
88309,NaN,NaN,NaN,NaN,edward_tremethick,0,76561198331598578,http://steamcommunity.com/id/edward_tremethick,NaN

Se eliminan las columnas que no se consideran relevantes para el posterior analisis

In [192]:
data_it3.drop(['items_count','user_url','item_name','steam_id'], axis=1, inplace=True)

In [193]:
data_it3

,item_id,playtime_forever,playtime_2weeks,user_id,items
0,10,6.0,0.0,76561197970982479,"{'item_id': '10', 'item_name': 'Counter-Strike..."
0,20,0.0,0.0,76561197970982479,"{'item_id': '20', 'item_name': 'Team Fortress ..."
0,30,7.0,0.0,76561197970982479,"{'item_id': '30', 'item_name': 'Day of Defeat'..."
0,40,0.0,0.0,76561197970982479,"{'item_id': '40', 'item_name': 'Deathmatch Cla..."
0,50,0.0,0.0,76561197970982479,"{'item_id': '50', 'item_name': 'Half-Life: Opp..."
...,...,...,...,...,...
88308,373330,0.0,0.0,76561198329548331,"{'item_id': '373330', 'item_name': 'All Is Dus..."
88308,388490,3.0,3.0,76561198329548331,"{'item_id': '388490', 'item_name': 'One Way To..."
88308,521570,4.0,4.0,76561198329548331,"{'item_id': '521570', 'item_name': 'You Have 1..."
88308,519140,3.0,3.0,76561198329548331,"{'item_id': '519140', 'item_name': 'Minds Eyes..."
88309,NaN,NaN,NaN,edward_tremethick,NaN

In [194]:
#Se eliminan los datos nulos por columnas
data_it3 = data_it3.dropna(subset=['item_id'])
data_it3 = data_it3.dropna(subset=['playtime_forever'])

In [195]:
#Se eliminan 2 columnas adicionales
data_it3.drop(['items','playtime_2weeks'], axis=1, inplace=True)

In [196]:
data_it3

      item_id  playtime_forever            user_id
0          10               6.0  76561197970982479
0          20               0.0  76561197970982479
0          30               7.0  76561197970982479
0          40               0.0  76561197970982479
0          50               0.0  76561197970982479
...       ...               ...                ...
88308  346330               0.0  76561198329548331
88308  373330               0.0  76561198329548331
88308  388490               3.0  76561198329548331
88308  521570               4.0  76561198329548331
88308  519140               3.0  76561198329548331

[5153209 rows x 3 columns]

Se define el dataframe solo para aquellos juegos donde tuvieron un tiempo jugado (condicion)

In [197]:
data_it3 = data_it3[data_it3['playtime_forever'] != 0]

Se conservan las 3 columnas para el analisis

In [198]:
data_it3 = data_it3[['user_id','item_id','playtime_forever']]
data_it3

                 user_id item_id  playtime_forever
0      76561197970982479      10               6.0
0      76561197970982479      30               7.0
0      76561197970982479     300            4733.0
0      76561197970982479     240            1853.0
0      76561197970982479    3830             333.0
...                  ...     ...               ...
88308  76561198329548331  304930             677.0
88308  76561198329548331  227940              43.0
88308  76561198329548331  388490               3.0
88308  76561198329548331  521570               4.0
88308  76561198329548331  519140               3.0

[3285246 rows x 3 columns]

Se guarda como formato Parquet y CSV para el merge

In [199]:
data_it3.to_parquet('user_items.parquet', index= False)

In [200]:
data_it3.to_csv('user_items.csv', index=False)

### ETL de `australian_user_reviews`

In [201]:
data_list1 = []
#Ruta del archivo JSON
file_path = 'australian_user_reviews.json'

#Abrir el archivo y procesar cada línea
with open(file_path, 'r', encoding='utf-8') as file:
    for line in file:
        try:
            # Usar ast.literal_eval para convertir la línea en un diccionario
            json_data = ast.literal_eval(line)
            data_list1.append(json_data)
        except ValueError as e:
            print(f"Error en la línea: {line}")
            continue

#Crear un DataFrame a partir de la lista de diccionarios
data_it = pd.DataFrame(data_list1)

In [202]:
data_it

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."
...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la..."
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l..."
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',..."
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l..."
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',..."

In [203]:
data_it1 = data_it.explode(['reviews'])
data_it2 = pd.json_normalize(data_it1['reviews']).set_index(data_it1['reviews'].index)
data_it3= pd.concat([data_it2, data_it1], axis=1)

In [204]:
data_it3

,funny,posted,last_edited,item_id,helpful,recommend,review,user_id,user_url,reviews
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted November 5, 20..."
0,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted July 15, 2011...."
0,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted April 21, 2011..."
1,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted June 24, 2014...."
1,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted September 8, 2..."
...,...,...,...,...,...,...,...,...,...,...
25797,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"{'funny': '', 'posted': 'Posted July 10.', 'la..."
25797,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"{'funny': '', 'posted': 'Posted July 8.', 'las..."
25798,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '1 person found this review funny', ..."
25798,,Posted July 20.,,730,No ratings yet,True,:D,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '', 'posted': 'Posted July 20.', 'la..."
25798,,Posted July 2.,,440,No ratings yet,True,so much fun :D,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"{'funny': '', 'posted': 'Posted July 2.', 'las..."

In [205]:
#Se eliminan las columnas que no se consideran relevantes para el posterior analisis
data_it3.drop(['funny','last_edited','helpful','user_url'], axis=1, inplace=True)

In [206]:
data_it3

,posted,item_id,recommend,review,user_id,reviews
0,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...,76561197970982479,"{'funny': '', 'posted': 'Posted November 5, 20..."
0,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.,76561197970982479,"{'funny': '', 'posted': 'Posted July 15, 2011...."
0,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479,"{'funny': '', 'posted': 'Posted April 21, 2011..."
1,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...,js41637,"{'funny': '', 'posted': 'Posted June 24, 2014...."
1,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...,js41637,"{'funny': '', 'posted': 'Posted September 8, 2..."
...,...,...,...,...,...,...
25797,Posted July 10.,70,True,a must have classic from steam definitely wort...,76561198312638244,"{'funny': '', 'posted': 'Posted July 10.', 'la..."
25797,Posted July 8.,362890,True,this game is a perfect remake of the original ...,76561198312638244,"{'funny': '', 'posted': 'Posted July 8.', 'las..."
25798,Posted July 3.,273110,True,had so much fun plaing this and collecting res...,LydiaMorley,"{'funny': '1 person found this review funny', ..."
25798,Posted July 20.,730,True,:D,LydiaMorley,"{'funny': '', 'posted': 'Posted July 20.', 'la..."
25798,Posted July 2.,440,True,so much fun :D,LydiaMorley,"{'funny': '', 'posted': 'Posted July 2.', 'las..."

In [207]:
#Se eliminan los datos nulos por columnas
#se eliminan los datos nulos por columnas
data_it3 = data_it3.dropna(subset=['posted'])
data_it3 = data_it3.dropna(subset=['item_id'])

In [208]:
data_it3

,posted,item_id,recommend,review,user_id,reviews
0,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...,76561197970982479,"{'funny': '', 'posted': 'Posted November 5, 20..."
0,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.,76561197970982479,"{'funny': '', 'posted': 'Posted July 15, 2011...."
0,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479,"{'funny': '', 'posted': 'Posted April 21, 2011..."
1,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...,js41637,"{'funny': '', 'posted': 'Posted June 24, 2014...."
1,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...,js41637,"{'funny': '', 'posted': 'Posted September 8, 2..."
...,...,...,...,...,...,...
25797,Posted July 10.,70,True,a must have classic from steam definitely wort...,76561198312638244,"{'funny': '', 'posted': 'Posted July 10.', 'la..."
25797,Posted July 8.,362890,True,this game is a perfect remake of the original ...,76561198312638244,"{'funny': '', 'posted': 'Posted July 8.', 'las..."
25798,Posted July 3.,273110,True,had so much fun plaing this and collecting res...,LydiaMorley,"{'funny': '1 person found this review funny', ..."
25798,Posted July 20.,730,True,:D,LydiaMorley,"{'funny': '', 'posted': 'Posted July 20.', 'la..."
25798,Posted July 2.,440,True,so much fun :D,LydiaMorley,"{'funny': '', 'posted': 'Posted July 2.', 'las..."

In [209]:
#Se eliminan 2 columnas adicionales
data_it3.drop(['reviews'], axis=1, inplace=True)

In [210]:
#se define el dataframe solo para aquellos juegos donde tuvieron un tiempo jugado (condicion)
data_it3 = data_it3[data_it3['item_id'] != 0]

In [211]:
data_it3

,posted,item_id,recommend,review,user_id
0,"Posted November 5, 2011.",1250,True,Simple yet with great replayability. In my opi...,76561197970982479
0,"Posted July 15, 2011.",22200,True,It's unique and worth a playthrough.,76561197970982479
0,"Posted April 21, 2011.",43110,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479
1,"Posted June 24, 2014.",251610,True,I know what you think when you see this title ...,js41637
1,"Posted September 8, 2013.",227300,True,For a simple (it's actually not all that simpl...,js41637
...,...,...,...,...,...
25797,Posted July 10.,70,True,a must have classic from steam definitely wort...,76561198312638244
25797,Posted July 8.,362890,True,this game is a perfect remake of the original ...,76561198312638244
25798,Posted July 3.,273110,True,had so much fun plaing this and collecting res...,LydiaMorley
25798,Posted July 20.,730,True,:D,LydiaMorley
25798,Posted July 2.,440,True,so much fun :D,LydiaMorley

In [212]:
#Se eliminan los duplicados y valores nulos en caso de haber
data_it3 = data_it3.drop_duplicates()
data_it3 = data_it3.dropna()

In [213]:
#Parseamos la columna de la fecha #Posted#
def convertir_a_fecha(fecha_str):
    try:
        fecha_str = fecha_str.replace('Posted ', '')

        # Intentar analizar la fecha
        fecha = parser.parse(fecha_str, fuzzy=True)
        
        # Si no se especifica el año, establecerlo como "ND"
        if fecha.year == parser.DEFAULTPARSER:
            return "ND"
        
        return fecha
    except:
        return None

In [214]:
data_it3['posted'] = data_it3['posted'].apply(convertir_a_fecha)

In [215]:
data_it3

,posted,item_id,recommend,review,user_id
0,2011-11-05,1250,True,Simple yet with great replayability. In my opi...,76561197970982479
0,2011-07-15,22200,True,It's unique and worth a playthrough.,76561197970982479
0,2011-04-21,43110,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479
1,2014-06-24,251610,True,I know what you think when you see this title ...,js41637
1,2013-09-08,227300,True,For a simple (it's actually not all that simpl...,js41637
...,...,...,...,...,...
25797,2024-07-10,70,True,a must have classic from steam definitely wort...,76561198312638244
25797,2024-07-08,362890,True,this game is a perfect remake of the original ...,76561198312638244
25798,2024-07-03,273110,True,had so much fun plaing this and collecting res...,LydiaMorley
25798,2024-07-20,730,True,:D,LydiaMorley
25798,2024-07-02,440,True,so much fun :D,LydiaMorley

Se guarda como formato .Parquet para el merge

In [216]:
data_it3.to_parquet('user_reviews.parquet', index=False)

Se guarda como formato .CSV para el merge

In [217]:
data_it3.to_csv('user_reviews.csv', index=False)

### Analisis de sentimiento sobre la columna Review

In [3]:
# Instalamos e importamos
!pip install textblob
from textblob import TextBlob

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: textblob in c:\users\usuario\appdata\roaming\python\python310\site-packages (0.18.0.post0)
Requirement already satisfied: nltk>=3.8 in c:\users\usuario\appdata\roaming\python\python310\site-packages (from textblob) (3.8.1)
Requirement already satisfied: joblib in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (1.1.1)
Requirement already satisfied: regex>=2021.8.3 in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (2022.7.9)
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (4.64.1)
Requirement already satisfied: click in c:\programdata\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (8.0.4)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from click->nltk>=3.8->textblob) (0.4.6)

In [219]:
def analyze_sentiment(review):
    analysis = TextBlob(str(review))
    # Se Asigna un valor según el análisis de sentimiento
    if analysis.sentiment.polarity > 0.1: 
        return 2  # Positivo
    elif analysis.sentiment.polarity < -0.1:
        return 0  # Malo
    else:
        return 1  # Neutral

Se agrega la columna Sentiment_analysis

In [220]:
data_it3['Sentiment_analysis'] = data_it3['review'].apply(analyze_sentiment)

In [221]:
data_it3

,posted,item_id,recommend,review,user_id,Sentiment_analysis
0,2011-11-05,1250,True,Simple yet with great replayability. In my opi...,76561197970982479,2
0,2011-07-15,22200,True,It's unique and worth a playthrough.,76561197970982479,2
0,2011-04-21,43110,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479,1
1,2014-06-24,251610,True,I know what you think when you see this title ...,js41637,2
1,2013-09-08,227300,True,For a simple (it's actually not all that simpl...,js41637,1
...,...,...,...,...,...,...
25797,2024-07-10,70,True,a must have classic from steam definitely wort...,76561198312638244,2
25797,2024-07-08,362890,True,this game is a perfect remake of the original ...,76561198312638244,2
25798,2024-07-03,273110,True,had so much fun plaing this and collecting res...,LydiaMorley,1
25798,2024-07-20,730,True,:D,LydiaMorley,2
25798,2024-07-02,440,True,so much fun :D,LydiaMorley,2

Se guarda con el sentiment analisis

In [222]:
data_it3.to_parquet('user_reviews.parquet', index=False)

In [223]:
data_it3.to_csv('user_reviews.csv', index=False)

Volvemos a llamar a los CSV para la creacion de una tabla unica con un JOIN

In [224]:
dfgames = pd.read_csv('output_steam_games.csv')
dfitems = pd.read_csv('user_items.csv')
dfreviews = pd.read_csv('user_reviews.csv')

Doble Check si existen datos faltantes

In [225]:
dfgames = dfgames.dropna()
dfitems = dfitems.dropna()
dfreviews = dfreviews.dropna()

Unimos los datos dataset de User.

In [226]:
df_merge = pd.merge(dfitems,dfreviews, how="left")

In [227]:
#Doble Check si existen datos faltantes
df_merge = df_merge.dropna()
df_merge

,user_id,item_id,playtime_forever,posted,recommend,review,Sentiment_analysis
27,76561197970982479,22200,271.0,2011-07-15,True,It's unique and worth a playthrough.,2.0
29,76561197970982479,1250,10006.0,2011-11-05,True,Simple yet with great replayability. In my opi...,2.0
59,76561197970982479,43110,834.0,2011-04-21,True,Great atmosphere. The gunplay can be a bit chu...,1.0
331,js41637,227300,551.0,2013-09-08,True,For a simple (it's actually not all that simpl...,1.0
387,js41637,239030,349.0,2013-11-29,True,Very fun little game to play when your bored o...,1.0
...,...,...,...,...,...,...,...
3285183,Ghoustik,730,3969.0,2024-06-17,True,Gra naprawdę fajna.Ale jest kilka rzeczy do kt...,1.0
3285197,76561198312638244,70,1010.0,2024-07-10,True,a must have classic from steam definitely wort...,2.0
3285198,76561198312638244,130,221.0,2024-07-10,True,if you liked Half life i would really recommen...,2.0
3285210,76561198312638244,233270,533.0,2024-07-21,True,this is a very fun and nice 80s themed shooter...,2.0
3285215,76561198312638244,362890,2184.0,2024-07-08,True,this game is a perfect remake of the original ...,2.0

Renombro la columna id de output por item_id para que se pueda relacionar

In [228]:
dfgames.rename(columns={'id': 'item_id'}, inplace=True)

In [229]:
dfgames

,publisher,genres,app_name,release_date,price,item_id,developer
0,2K Games,['Strategy'],Railroad Tycoon II Platinum,1998-10-31,4.99,7620.0,PopTop
1,2K Games,['Strategy'],X-COM: Terror From the Deep,1995-04-01,4.99,7650.0,"MicroProse Software, Inc"
2,"Square Enix, Feral Interactive (Mac)","['Action', 'Adventure']",Tomb Raider: Anniversary,2007-06-05,8.99,8000.0,"Crystal Dynamics,Feral Interactive (Mac)"
3,Capcom,['Action'],Devil May Cry® 3 Special Edition,2006-05-23,19.99,6550.0,"CAPCOM Co., Ltd."
4,Telltale Games,"['Action', 'Adventure']",Sam & Max 101: Culture Shock,2006-10-17,19.99,8200.0,Telltale Games
...,...,...,...,...,...,...,...
22762,Bidoniera Games,"['Action', 'Adventure', 'Casual', 'Indie']",Kebab it Up!,2018-01-04,1.99,745400.0,Bidoniera Games
22763,Ghost_RUS Games,"['Casual', 'Indie', 'Simulation', 'Strategy']",Colony On Mars,2018-01-04,1.99,773640.0,"Nikita ""Ghost_RUS"""
22764,Sacada,"['Casual', 'Indie', 'Strategy']",LOGistICAL: South Africa,2018-01-04,4.99,733530.0,Sacada
22765,Laush Studio,"['Indie', 'Racing', 'Simulation']",Russian Roads,2018-01-04,1.99,610660.0,Laush Dmitriy Sergeevich
22766,SIXNAILS,"['Casual', 'Indie']",EXIT 2 - Directions,2017-09-02,4.99,658870.0,"xropi,stev3ns"

In [230]:
df_merge = pd.merge(dfgames,df_merge, how="left")

In [231]:
df_merge = df_merge.dropna()

In [232]:
df_merge

,publisher,genres,app_name,release_date,price,item_id,developer,user_id,playtime_forever,posted,recommend,review,Sentiment_analysis
2,"Square Enix, Feral Interactive (Mac)","['Action', 'Adventure']",Tomb Raider: Anniversary,2007-06-05,8.99,8000.0,"Crystal Dynamics,Feral Interactive (Mac)",76561198052998873,378.0,2015-12-11,True,"One of the best games of all time, I have been...",2.0
3,Capcom,['Action'],Devil May Cry® 3 Special Edition,2006-05-23,19.99,6550.0,"CAPCOM Co., Ltd.",ryanflyin13,2872.0,2024-06-04,True,This game made a huge impact on my life when i...,1.0
4,Capcom,['Action'],Devil May Cry® 3 Special Edition,2006-05-23,19.99,6550.0,"CAPCOM Co., Ltd.",SambaWarKiddo,47.0,2014-05-31,True,"Fantastic game by absolutely all means, and if...",2.0
5,Capcom,['Action'],Devil May Cry® 3 Special Edition,2006-05-23,19.99,6550.0,"CAPCOM Co., Ltd.",76561198104824869,4169.0,2014-02-22,True,虽然不支持控制器和不能全银幕的游戏，但并不会减少游戏的可玩性和热趣，你依然可以灵活的进行华丽...,1.0
6,Capcom,['Action'],Devil May Cry® 3 Special Edition,2006-05-23,19.99,6550.0,"CAPCOM Co., Ltd.",76561198096849086,776.0,2014-07-01,True,.Una compra recomendada para los que les gusta...,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56781,Valve,['Action'],Counter-Strike: Condition Zero,2004-03-01,9.99,80.0,Valve,76561198015050660,2416.0,2014-12-23,False,作為第一個在steam入手的遊戲，老實說當初是為了1.6來順便帶回來，由於當時網路不太穩的關...,1.0
56782,Valve,['Action'],Counter-Strike: Condition Zero,2004-03-01,9.99,80.0,Valve,76561198023508728,15.0,2014-10-26,False,i caused 9/11,1.0
56783,Valve,['Action'],Counter-Strike: Condition Zero,2004-03-01,9.99,80.0,Valve,green290,442.0,2015-01-05,True,This game was suprisingly my first FPS game.11...,2.0
56784,Valve,['Action'],Counter-Strike: Condition Zero,2004-03-01,9.99,80.0,Valve,174gamecuman700kngkakak,72.0,2014-10-31,True,:v,1.0
56785,Valve,['Action'],Counter-Strike: Condition Zero,2004-03-01,9.99,80.0,Valve,lachwe,62.0,2015-05-04,True,Random enemies popping out of no where will ma...,0.0

Se crea el CSV y se ubica en la carpeta data asi los proximos CSV se alojen en el mismo lugar

In [233]:
df_merge.to_parquet('df_merge.parquet', index=False)

In [234]:
df_merge = pd.read_parquet('df_merge.parquet')

In [235]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36579 entries, 0 to 36578
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   publisher           36579 non-null  object
 1   genres              36579 non-null  object
 2   app_name            36579 non-null  object
 3   release_date        36579 non-null  object
 4   price               36579 non-null  float64
 5   item_id             36579 non-null  float64
 6   developer           36579 non-null  object
 7   user_id             36579 non-null  object
 8   playtime_forever    36579 non-null  float64
 9   posted              36579 non-null  object
 10  recommend           36579 non-null  bool
 11  review              36579 non-null  object
 12  Sentiment_analysis  36579 non-null  float64
dtypes: bool(1), float64(4), object(8)
memory usage: 3.4+ MB

Se cambia el tipo de dato de Free to play a 0 para poder hacer el analisis

In [236]:
df_merge['price'] = df_merge['price'].replace('Free to Play', 0)

Convertir la columna 'price' a tipo numérico y reemplazar NaN con ceros

In [237]:
# Convertir la columna 'price' a tipo numérico y reemplazar NaN con ceros
df_merge['price'] = pd.to_numeric(df_merge['price'], errors='coerce').fillna(0)

# Imprimir los valores no numéricos en la columna 'price' después de la conversión
print("Valores no numéricos en la columna 'price' después de la conversión:")
print(df_merge.loc[df_merge['price'].isnull(),'price'])

Valores no numéricos en la columna 'price' después de la conversión:
Series([], Name: price, dtype: float64)

Se configura la columna release_date a un valor de años

In [238]:
# Supongamos que 'release_date' es la columna que contiene las fechas
df_merge['release_date'] = pd.to_datetime(df_merge['release_date'], errors='coerce')

# Asegúrate de que no haya valores nulos en la columna 'release_date'
print(df_merge['release_date'].isnull().sum())

# Crea la columna 'Años' extrayendo el año después de la conversión
df_merge['Años'] = df_merge['release_date'].dt.year

# Imprime el DataFrame para verificar los resultados
print(df_merge)

0
                                  publisher                   genres  \
0      Square Enix, Feral Interactive (Mac)  ['Action', 'Adventure']
1                                    Capcom               ['Action']
2                                    Capcom               ['Action']
3                                    Capcom               ['Action']
4                                    Capcom               ['Action']
...                                     ...                      ...
36574                                 Valve               ['Action']
36575                                 Valve               ['Action']
36576                                 Valve               ['Action']
36577                                 Valve               ['Action']
36578                                 Valve               ['Action']

                               app_name release_date  price  item_id  \
0              Tomb Raider: Anniversary   2007-06-05   8.99   8000.0
1      Devil May Cry® 3 Special Edition   2006-05-23  19.99   6550.0
2      Devil May Cry® 3 Special Edition   2006-05-23  19.99   6550.0
3      Devil May Cry® 3 Special Edition   2006-05-23  19.99   6550.0
4      Devil May Cry® 3 Special Edition   2006-05-23  19.99   6550.0
...                                 ...          ...    ...      ...
36574    Counter-Strike: Condition Zero   2004-03-01   9.99     80.0
36575    Counter-Strike: Condition Zero   2004-03-01   9.99     80.0
36576    Counter-Strike: Condition Zero   2004-03-01   9.99     80.0
36577    Counter-Strike: Condition Zero   2004-03-01   9.99     80.0
36578    Counter-Strike: Condition Zero   2004-03-01   9.99     80.0

                                      developer                  user_id  \
0      Crystal Dynamics,Feral Interactive (Mac)        76561198052998873
1                              CAPCOM Co., Ltd.              ryanflyin13
2                              CAPCOM Co., Ltd.            SambaWarKiddo
3                              CAPCOM Co., Ltd.        76561198104824869
4                              CAPCOM Co., Ltd.        76561198096849086
...                                         ...                      ...
36574                                     Valve        76561198015050660
36575                                     Valve        76561198023508728
36576                                     Valve                 green290
36577                                     Valve  174gamecuman700kngkakak
36578                                     Valve                   lachwe

       playtime_forever      posted  recommend  \
0                 378.0  2015-12-11       True
1                2872.0  2024-06-04       True
2                  47.0  2014-05-31       True
3                4169.0  2014-02-22       True
4                 776.0  2014-07-01       True
...                 ...         ...        ...
36574            2416.0  2014-12-23      False
36575              15.0  2014-10-26      False
36576             442.0  2015-01-05       True
36577              72.0  2014-10-31       True
36578              62.0  2015-05-04       True

                                                  review  Sentiment_analysis  \
0      One of the best games of all time, I have been...                 2.0
1      This game made a huge impact on my life when i...                 1.0
2      Fantastic game by absolutely all means, and if...                 2.0
3      虽然不支持控制器和不能全银幕的游戏，但并不会减少游戏的可玩性和热趣，你依然可以灵活的进行华丽...                 1.0
4      .Una compra recomendada para los que les gusta...                 1.0
...                                                  ...                 ...
36574  作為第一個在steam入手的遊戲，老實說當初是為了1.6來順便帶回來，由於當時網路不太穩的關...                 1.0
36575                                      i caused 9/11                 1.0
36576  This game was suprisingly my first FPS game.11...                 2.0
36577                                                 :v                 1.0
36578  Random enemies popping out of no where will ma...                 0.0

       Años
0      2007
1      2006
2      2006
3      2006
4      2006
...     ...
36574  2004
36575  2004
36576  2004
36577  2004
36578  2004

[36579 rows x 14 columns]

Configuramos el modelo con 4000 registros para poder manipularlo por cuestiones de peso en render y github

In [239]:
modelo = df_merge.head(4000)

Creamos el Dataset del modelo de entrenamiento

In [240]:
modelo.to_parquet('modelo.parquet', index=False)

Se guarda el Parquet final luego de todo el Preprocesamiento de los datos

In [241]:
df_merge.to_parquet('df_merge.parquet', index=False)

### Hacemos el entrenamiento del modelo de recomendacion

In [242]:
def entrenar_modelo():
    # Cargar los datos desde los CSVs
    user_items = pd.read_csv('user_items.csv')
    user_reviews = pd.read_csv('user_reviews.csv')
    output = pd.read_csv('output_steam_games.csv')
    
    # Unir las tablas user_items y user_reviews basadas en la columna 'user_id'
    merged_data = pd.merge(user_items, user_reviews, how="inner")
    #df= merged_data.drop_duplicates()
    df = merged_data.sample(n=5000, random_state=42).drop_duplicates()
   
    promedio_playtime = df['playtime_forever'].mean()
   
    distancia_chica = promedio_playtime / 3
    distancia_media = promedio_playtime - (distancia_chica * 2)

    def asignar_valor(playtime):
        if playtime <= distancia_chica:
            return 0
        elif distancia_chica < playtime <= distancia_media:
            return 1
        else:
            return 2

    # Aplica la función a la columna 'playtime forever' para crear la nueva columna 'nueva_columna'
    df['playtime'] = df['playtime_forever'].apply(asignar_valor)

    user_id_mapping = {user_id: i for i, user_id in enumerate(df['user_id'].unique())}
    df['user_id_numeric'] = df['user_id'].map(user_id_mapping)

    # Mapear item_id a identificadores numéricos únicos
    item_id_mapping = {item_id: i for i, item_id in enumerate(df['item_id'].unique())}
    df['item_id_numeric'] = df['item_id'].map(item_id_mapping)

    # Suma la columna 'playtime_forever' al 'Sentiment_analysis'
    df['combined_rating'] = df['Sentiment_analysis'] + df['playtime']
    
    # Utiliza pivot para crear una matriz de recomendación
    matriz_recomendacion = df.pivot(index='user_id_numeric', columns='item_id_numeric', values='combined_rating')

    # Llenar los valores NaN con 0
    matriz_recomendacion = matriz_recomendacion.fillna(0)

    # Se obtienen los valores de la matriz como un array
    ratings = matriz_recomendacion.values

    # División en conjuntos de entrenamiento y prueba
    ratings_train, _ = train_test_split(ratings, test_size=0.2, random_state=42)

    sim_matrix = 1 - cosine_distances(ratings_train)

    # Número de usuarios y elementos
    num_users, _ = ratings_train.shape

    # Selecciona una parte de la matriz de similitud para el conjunto de entrenamiento
    sim_matrix_train = sim_matrix[:num_users, :num_users]

    datos_entrenamiento = (sim_matrix_train, ratings_train, user_id_mapping, item_id_mapping, df, output)
    
    # Guarda los datos de entrenamiento en un archivo usando pickle
    with gzip.open('datos_entrenamiento.pkl.gz', 'wb') as f:
        pickle.dump(datos_entrenamiento, f)
    
    model = sim_matrix_train, ratings_train, user_id_mapping, item_id_mapping, df, output
    
    return model
entrenar_modelo()

(array([[1., 0., 0., ..., 0., 0., 0.],
        [0., 1., 0., ..., 0., 0., 0.],
        [0., 0., 1., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 1., 0., 0.],
        [0., 0., 0., ..., 0., 1., 0.],
        [0., 0., 0., ..., 0., 0., 1.]]),
 array([[0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        ...,
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.],
        [0., 0., 0., ..., 0., 0., 0.]]),
 {'obscenedagger': 0,
  'rrbr': 1,
  '76561198069547848': 2,
  '76561198147285284': 3,
  'howsitgoinaz': 4,
  'halofan360': 5,
  'mailiam123': 6,
  'neochuah94': 7,
  'fui312': 8,
  'DABLUICE': 9,
  'ScoutCounterAttack': 10,
  'bloodyjak': 11,
  'darrylcheng': 12,
  'horizon1101': 13,
  '76561198072672804': 14,
  'Playerupjack': 15,
  'pizzerman': 16,
  'NoSwagm8': 17,
  'IISantaII': 18,
  '76561198050243948': 19,
  '76561198083176167': 20,
  '76561198028640914': 21,
  '76561198084634633': 22,
  '76561198036881631': 23,
  'nealsavage': 24,
  '76561198064026657': 25,
  'pathorn2000': 26,
  'coztenza': 27,
  '76561198090001818': 28,
  '76561198193227423': 29,
  'adamkupou': 30,
  'henryle': 31,
  'JonHT': 32,
  'POKESTEAM': 33,
  'Ugh-ZanV': 34,
  'astrophysicsblackguy': 35,
  '76561198034572029': 36,
  '76561198075141715': 37,
  '76561198014910012': 38,
  '76561198054937869': 39,
  'RaveHusky': 40,
  '76561198102227860': 41,
  'Edddddddddddddddddddd': 42,
  'InviaObscura': 43,
  'stverbal': 44,
  '76561198052851877': 45,
  'dontplayinpipesanddrains': 46,
  'BaconLulz': 47,
  '76561198077816464': 48,
  'becausenobodylikesdefaulturls': 49,
  '76561198059411271': 50,
  'EGGSaus': 51,
  'lyskal': 52,
  'DepressingMemes': 53,
  'rekkler': 54,
  'to-your-left': 55,
  '76561198065593074': 56,
  'od3d': 57,
  '76561198062303328': 58,
  '76561198089523994': 59,
  '76561198074736789': 60,
  'Chellyyyyyy': 61,
  'jarjarjake': 62,
  '76561198108415635': 63,
  '76561198041739032': 64,
  'satoshi-uram': 65,
  '76561198101278301': 66,
  '76561198064247736': 67,
  'omni574': 68,
  '76561198070361854': 69,
  'Hugh-Mungus': 70,
  'SirexPower': 71,
  'sergioxks1': 72,
  '76561198081715323': 73,
  'Mastic': 74,
  'NeroChevalier': 75,
  '76561198077207405': 76,
  '76561198076580598': 77,
  'MUSTANGBOI': 78,
  'sanicissped': 79,
  'Stagdage': 80,
  '76561198056188895': 81,
  '76561198059257958': 82,
  'hemie43': 83,
  'alexmr19': 84,
  '76561198043339975': 85,
  'kendrayosa': 86,
  'shawshank12': 87,
  '76561198075528164': 88,
  'matrimredhand': 89,
  'M4rty_C': 90,
  'chocolate-donut-king': 91,
  '76561198083225755': 92,
  '76561198063241906': 93,
  'crackdatdopamine': 94,
  '76561198068232371': 95,
  'legendaneo': 96,
  'MattrAus': 97,
  'Shad3Gam3r': 98,
  '131312': 99,
  'Scrfiin': 100,
  '76561198117645959': 101,
  '420fedora': 102,
  'marko101': 103,
  'GN1': 104,
  '76561198067613878': 105,
  'KingPahn': 106,
  'heywhydidyoulookup': 107,
  '7656119806181852': 108,
  '76561198071234865': 109,
  '76561198060407498': 110,
  '76561198074468075': 111,
  'Nargoord': 112,
  '76561198053891302': 113,
  'Fried_Bacon': 114,
  'Ronald_D_D': 115,
  'JarateTheKid': 116,
  '76561198079314761': 117,
  '76561198055542679': 118,
  '76561198043096353': 119,
  'redarmyjj': 120,
  '76561198064484479': 121,
  'SATANASMEUGRANDECHAPA': 122,
  '76561198066465073': 123,
  '_gary_the_snail': 124,
  '76561198028357316': 125,
  'theenigmaticphicist': 126,
  'pigmysaladpie': 127,
  'JesseKayfabe': 128,
  '512356': 129,
  'gonzomeister': 130,
  'ThereSheBlows': 131,
  'Ionator': 132,
  'rylo20340': 133,
  'fallen-petals': 134,
  'PhoenixRave': 135,
  'Mikowmer': 136,
  'PhoenixAnimus': 137,
  '76561198089815482': 138,
  'AwesomeSauces101': 139,
  'POISON_OAK': 140,
  '51centcorn': 141,
  '76561198031873734': 142,
  '76561198289386531': 143,
  '76561198095405817': 144,
  'GussyPlays': 145,
  '76561198076127919': 146,
  '76561198059641230': 147,
  'Eack': 148,
  'SkyFlashBR': 149,
  'Halstrom': 150,
  'FatChicken420': 151,
  '76561198008532637': 152,
  '76561198070492901': 153,
  '76561198066521422': 154,
  'eunmac': 155,
  'inkinthehart': 156,
  '76561198102087487': 157,
  'ThePurpleGibusMan': 158,
  'thedreamtime': 159,
  'Ka2Dx': 160,
  '76561198077183562': 161,
  '76561198102256563': 162,
  '76561198021851822': 163,
  'thombelcar': 164,
  'Achronax': 165,
  '76561198045453273': 166,
  'scyana4': 167,
  'No_URL_Works_For_Me': 168,
  'channel28': 169,
  '76561198175551711': 170,
  'MIMMATA': 171,
  '76561198084842871': 172,
  '76561198080717002': 173,
  'mightysparks': 174,
  '76561198062282416': 175,
  'FaZeWeaver': 176,
  '76561198034277356': 177,
  'volka': 178,
  'MrSpeedyPanda': 179,
  'Woodyjoseph': 180,
  '76561198139439978': 181,
  'angelo_': 182,
  'WalrusInSpace': 183,
  '76561198089540481': 184,
  '76561198068485743': 185,
  '76561198034319577': 186,
  'pixlflames': 187,
  'EliteCookies': 188,
  '76561198085692317': 189,
  '76561198090142281': 190,
  'BlackBird252L': 191,
  'Sanskeleteen': 192,
  '76561198060319088': 193,
  '76561198056568217': 194,
  '76561197981425218': 195,
  'dead_slayer': 196,
  '76561198071176877': 197,
  '76561198067425198': 198,
  '76561198083973618': 199,
  'mynameisalexandimcool': 200,
  '76561198065220915': 201,
  'bobseagull': 202,
  '76561198081367066': 203,
  '76561198068516658': 204,
  'dontgetmemed': 205,
  'TheRealFurnace': 206,
  '76561198100173979': 207,
  'larsantonello': 208,
  '76561198043753683': 209,
  '76561198116462043': 210,
  '76561198104387311': 211,
  'AwesomeDoofus': 212,
  'youngbenaffleck': 213,
  '76561198098358388': 214,
  'derplaymc': 215,
  '76561198067136187': 216,
  '76561198133624222': 217,
  'Vulcan21': 218,
  '76561198104204975': 219,
  'maketeanotwar': 220,
  'KillKenny2122': 221,
  'yournansbanana': 222,
  '76561198084360124': 223,
  '76561198091034264': 224,
  'whiteruby3': 225,
  'hipachi': 226,
  'lomardriver': 227,
  'NewVoxel': 228,
  'illogik01': 229,
  'yggdrasiltheworldtree': 230,
  '76561198035811318': 231,
  '76561198039942668': 232,
  'GravityI': 233,
  'isse7enfold5': 234,
  '76561198085345522': 235,
  'SadisticAss': 236,
  '76561198041240181': 237,
  'SN1P3R061099': 238,
  '76561198055325222': 239,
  'sakurayuki': 240,
  '76561198089588759': 241,
  'M_D_': 242,
  'Mastaslim': 243,
  '00000000000000000001227': 244,
  'TwoMinuteNeddles': 245,
  'Darthlambrou': 246,
  'PajaSampoerna': 247,
  'weadd': 248,
  '76561198073518018': 249,
  'DatBoiOShitWhaddup': 250,
  'verysmartman': 251,
  '76561198074092628': 252,
  '76561198076645128': 253,
  'MutantSloth': 254,
  '76561197964317648': 255,
  '76561198078128803': 256,
  'Astrelt': 257,
  'claE3ton': 258,
  '76561198056645429': 259,
  'Spooky4me': 260,
  'G0LDENGUNNER': 261,
  'IYITHEBOY': 262,
  'memes2k18': 263,
  'Snoresville': 264,
  'gefiltefishegg': 265,
  'Tsumikiy': 266,
  'stopreadingthisthing': 267,
  '76561198055330674': 268,
  '434238948': 269,
  '1snap': 270,
  'theMafiaKing': 271,
  'Myther43': 272,
  '76561198049369458': 273,
  'Nardiastorm': 274,
  'antongarciabitw': 275,
  'EucHellscythe': 276,
  'technical_derpiculties': 277,
  'benjisponge': 278,
  '76561198078582860': 279,
  'kimjongadam': 280,
  '76561198063466890': 281,
  'mrawesome99128': 282,
  'xXPOTATOSLADXx': 283,
  'DNK_Koshi': 284,
  '76561198068302605': 285,
  '15832789427': 286,
  '76561198108045528': 287,
  'zaaikbr': 288,
  '76561198070164022': 289,
  '76561197976177356': 290,
  '76561198094184873': 291,
  'Roronage': 292,
  'msDJmartini': 293,
  '76561198030601352': 294,
  'ud3p': 295,
  '76561197996957782': 296,
  '76561198065948218': 297,
  'SuperSneakyCreamPuff': 298,
  'chefmisery': 299,
  '76561198093295500': 300,
  '76561198054568398': 301,
  'FrostieDaFurry': 302,
  'oliversthebest': 303,
  'BurningHope': 304,
  'ActionMedic': 305,
  'johnnysydney': 306,
  'pajelder': 307,
  'purpledragonfun': 308,
  '76561198071717436': 309,
  'harrisonnorris': 310,
  '76561198079651914': 311,
  'ngamerftw': 312,
  'Turtleeex3': 313,
  'xINarcho': 314,
  'qwertybmwh1994': 315,
  '76561197997129113': 316,
  'donovanFlame': 317,
  'Z1_M4N': 318,
  '76561198015083753': 319,
  'LukasYip': 320,
  '76561198077109688': 321,
  'NeoZenith1': 322,
  'kharmakazi': 323,
  'telekinesticman': 324,
  'ozjake54': 325,
  '76561198027354973': 326,
  'haimundo': 327,
  'nuclearjimmeh': 328,
  'OG1': 329,
  'KelvinTradingCockCompany': 330,
  '76561198067019784': 331,
  'datepicbruhdoh': 332,
  'TANTANTAN1': 333,
  'dragonlore23': 334,
  'cactuswaifu': 335,
  'Izanagi_No_Okami_Nyan': 336,
  '76561198037396227': 337,
  'LLARb': 338,
  'AwpDerp': 339,
  'C38_76_88': 340,
  'jcorradi': 341,
  'jadziatuvok': 342,
  '76561198098840056': 343,
  'akamexxswag': 344,
  '2768820078': 345,
  '76561198064542039': 346,
  '76561198092473445': 347,
  'hfeygugbuhg': 348,
  '76561198066544547': 349,
  'Gamesnature': 350,
  'SarahTaylor': 351,
  '76561198070880096': 352,
  '76561198045948210': 353,
  'FantahStick': 354,
  'megamario1500': 355,
  '76561198066151913': 356,
  '76561198202398471': 357,
  'kyleultra128': 358,
  'theserarepierogidoe': 359,
  'irmikeee': 360,
  '76561198040104199': 361,
  '76561198061273070': 362,
  'ManiFoldKinesis': 363,
  '76561198046109277': 364,
  'fuckingcocksuka': 365,
  '76561198161407932': 366,
  '76561198082713613': 367,
  'kningerd': 368,
  '76561198057210491': 369,
  'SuchGayMuchWow': 370,
  '76561198054811848': 371,
  'R0GAN_makes_your_nan_feel_nice': 372,
  '76561198067674227': 373,
  '76561198046612873': 374,
  '76561198049411627': 375,
  'SEGASURD259': 376,
  'Engurneer': 377,
  '76561198070924701': 378,
  'Rhysy2706': 379,
  '76561198033992409': 380,
  '76561198089365649': 381,
  '76561198074111910': 382,
  'eddiedankmemes': 383,
  'SSAANNEESS': 384,
  '76561198074843769': 385,
  'Default_smile': 386,
  '76561198050271217': 387,
  '76561198101572628': 388,
  '76561198111412996': 389,
  'craggyteeth': 390,
  'HoneyBeeGames': 391,
  'onehundredbullets': 392,
  '76561198087629781': 393,
  'Crackleking76': 394,
  '76561197977051585': 395,
  '76561198045470612': 396,
  'Freemeetupsforgaymen': 397,
  '76561198107847795': 398,
  'mattyp500': 399,
  '76561198128220819': 400,
  'klDINO': 401,
  'proletar666': 402,
  '76561198094752240': 403,
  '76561198042294034': 404,
  'BokuNoSekai': 405,
  '76561198038258914': 406,
  '76561198056648472': 407,
  '76561198055609345': 408,
  'derpy33074': 409,
  '76561198057020692': 410,
  'Awesomeman204': 411,
  'watahead': 412,
  '76561198073446384': 413,
  'maibiglargebuttocks': 414,
  '76561198065304760': 415,
  '76561198070376530': 416,
  '76561198016610271': 417,
  '76561198077265194': 418,
  'koldkitty': 419,
  '76561198061652531': 420,
  'CF6A32': 421,
  'Pikachu_LOL': 422,
  'nitr0ticwolf': 423,
  'chris1ldb': 424,
  'FuzzSlam': 425,
  'L0RDVAD3R': 426,
  '3th3': 427,
  'booveniscool': 428,
  '76561198063648921': 429,
  '76561198064600203': 430,
  'teh_pwnerer_7': 431,
  'Legendld': 432,
  'DANKESTMEMEMACHINEEVER': 433,
  '76561198052805342': 434,
  'R4ND3M': 435,
  '76561198085700027': 436,
  '76561198044885418': 437,
  'dayfoe': 438,
  'macey_moo': 439,
  'InfinitePeace': 440,
  'echo125': 441,
  'mapachenegro': 442,
  '76561198096736743': 443,
  'CottonCandyHusky': 444,
  '76561198097584957': 445,
  'pleasekillmeihaveadisease': 446,
  'SoleSaliva': 447,
  '76561198008352835': 448,
  '76561198079378923': 449,
  'myles101': 450,
  'truewarrior94': 451,
  'Michaelele': 452,
  'Slavonic': 453,
  'brockless': 454,
  'Bradstuffer': 455,
  'ricardojr190': 456,
  'harrylolman': 457,
  'Cartrz': 458,
  'ShadowMercTheElite': 459,
  '76561198084656191': 460,
  'theanyelpes': 461,
  'skilltablet': 462,
  'payrocanical': 463,
  '76561198045323634': 464,
  'simplzzz123': 465,
  'alasdair2013': 466,
  '76561198054183421': 467,
  'Obvious_Failure': 468,
  '_Minja': 469,
  '76561198069090454': 470,
  '76561198023971448': 471,
  'ACaesarSalad': 472,
  '76561198087419337': 473,
  '76561198074940106': 474,
  '76561198063951820': 475,
  '76561198075581042': 476,
  'gantaknows': 477,
  'mistersicklad483759': 478,
  'AZA1498': 479,
  '76561198037541199': 480,
  '76561198095856407': 481,
  'maverick1126': 482,
  '76561198052513392': 483,
  'micropie': 484,
  'TeeJayPow': 485,
  '76561198095562061': 486,
  'Rysterr': 487,
  '76561198044625090': 488,
  '76561198064967320': 489,
  'BrainyManiac': 490,
  '76561198040149411': 491,
  'olivercooli': 492,
  'TomThehTmoT': 493,
  'fitemeirlfget': 494,
  '76561198074392626': 495,
  '76561198080804547': 496,
  'rick100': 497,
  '76561197976404001': 498,
  'cheezau': 499,
  'leojv': 500,
  'SilencerLX': 501,
  'LonTheDarkGamer': 502,
  'KawaiiPandaDesu': 503,
  '76561198044127701': 504,
  'snowangelsdream': 505,
  'NOTHING_BUT_STAR_WARS': 506,
  'moozio': 507,
  'gamingftw123': 508,
  '76561198038567931': 509,
  'u2late': 510,
  '76561198118129824': 511,
  'LewBrew': 512,
  'badminton': 513,
  'BlockStabFatality': 514,
  'GoodOldJacob': 515,
  '76561198067194883': 516,
  'LPTHTF2': 517,
  '76561198083857294': 518,
  '76561198106876307': 519,
  'Vite003': 520,
  'ImM4RK5M4N': 521,
  'MixedMag': 522,
  '76561198070188921': 523,
  'heylistenm8': 524,
  '76561198079882851': 525,
  '4801': 526,
  'ThyGlyphDevice': 527,
  'mr_monkey09': 528,
  'wagzy': 529,
  'Dragonitesunite': 530,
  'mresprofile': 531,
  '76561198044588689': 532,
  'blackdmulisha': 533,
  'curtiits': 534,
  '71251241': 535,
  '76561198038840599': 536,
  'MonsterImported': 537,
  '76561198062810583': 538,
  'MyZan1ty': 539,
  'LouisMcQueen': 540,
  '2nerdssemvida': 541,
  '76561198092638474': 542,
  'JamesDurham23JubileeRd': 543,
  'ZakGod09': 544,
  '76561198071091263': 545,
  'MeckieLAD': 546,
  '76561198052396307': 547,
  '76561198045266632': 548,
  'saint556': 549,
  'alekseif': 550,
  'mattpatterson94': 551,
  'hydroleks': 552,
  'Urban_Terrorist_': 553,
  '76561198063607424': 554,
  'abutlin': 555,
  'SC3SynC': 556,
  '76561198057982190': 557,
  'jking228': 558,
  'JZargo4Pres': 559,
  '76561198048058129': 560,
  '76561198003855855': 561,
  'jukeboxplays': 562,
  'watchudoin': 563,
  '76561197995418864': 564,
  'WL124': 565,
  'sddfg024bzarfgdg': 566,
  '76561198027947401': 567,
  'aldwinsanity': 568,
  'jarvisnumbanine': 569,
  '76561198119691766': 570,
  '76561197997238293': 571,
  'revalation90': 572,
  '76561198098029716': 573,
  'housty8': 574,
  'facinorousFabulist': 575,
  'FireNoodle': 576,
  'JosefBarbera': 577,
  'SlaydenL': 578,
  'xander_168': 579,
  '76561198120526129': 580,
  'laislabonita75': 581,
  '76561198087654581': 582,
  'rage-of-the-dragon': 583,
  '76561197977705860': 584,
  '76561197995939652': 585,
  '76561198084543444': 586,
  'flazep': 587,
  'brocky0405': 588,
  'ItsMalvi': 589,
  'Dramiken': 590,
  'thenumber5': 591,
  'disturbed_focus': 592,
  'therandomdood': 593,
  'ben9600': 594,
  '76561198085686437': 595,
  'SteamSpotty': 596,
  '76561198042541826': 597,
  'nickyyc': 598,
  '76561198067182014': 599,
  '76561198114558878': 600,
  'theultimatedan': 601,
  '76561198085788881': 602,
  'ffortissimo': 603,
  'Blade_Steam': 604,
  'romejanic': 605,
  'DUMB1020120': 606,
  'dankafiinet': 607,
  'DazzaMH': 608,
  'hauntedblast': 609,
  '76561198172394339': 610,
  'Astrona': 611,
  'cyclacious': 612,
  'jacob_power': 613,
  '76561198092064357': 614,
  'TSWKramus': 615,
  'soulsphere33': 616,
  'hitler-doom-trenchcoats': 617,
  'creative_url': 618,
  'QUIT_YOUR_LAZY_ASS_JOB': 619,
  '2EzRogueDH': 620,
  'zv_odd': 621,
  'xSnipy': 622,
  'PLTC': 623,
  'HAYABEEN': 624,
  'kowala913': 625,
  'DE4DP00L': 626,
  'CHAAANG': 627,
  'goi17': 628,
  '76561198158373858': 629,
  '76561198017341667': 630,
  'harumbe911': 631,
  'alexsandroo': 632,
  '76561198080305273': 633,
  '76561198047117090': 634,
  '76561198010391123': 635,
  'TechnoRoadie': 636,
  '76561198045971049': 637,
  'SeaPotato': 638,
  'DANOID': 639,
  'mgmt40': 640,
  '76561198056981204': 641,
  'Azzanation': 642,
  'GhostMusic': 643,
  'StudioClod': 644,
  'yourdaemon': 645,
  '76561198089961001': 646,
  'juliagillardismymum': 647,
  'JUEJUEhue': 648,
  'rattlesn': 649,
  '76561198048022041': 650,
  'Siilan': 651,
  '76561198080466065': 652,
  'chupaessacaralha': 653,
  'Uve-Seen_Nothing': 654,
  'mysterd': 655,
  'yhagozanon': 656,
  'uglypotatolol': 657,
  'Bronx9146': 658,
  '76561198030567998': 659,
  '76561198057404948': 660,
  '76561198054970463': 661,
  'HinataLAD': 662,
  'OrientalGaming': 663,
  'exLightning': 664,
  '317984739321': 665,
  '76561198157640176': 666,
  'poopholder': 667,
  '76561198042136913': 668,
  '54678907652': 669,
  'zeroepix': 670,
  'dahaydos': 671,
  'TTaka': 672,
  'ysarge': 673,
  '_codered66_': 674,
  'ThePinchyParable': 675,
  '76561198001836842': 676,
  'Flabberdab': 677,
  '76561198080426716': 678,
  'kasep': 679,
  'dannysfatass': 680,
  '76561198050051190': 681,
  'UnfitMantella': 682,
  'LOLBITCHS': 683,
  'justclose': 684,
  'RealAdam': 685,
  '76561198045932885': 686,
  '76561197994404698': 687,
  'HoQG': 688,
  '76561197965208032': 689,
  'fiTcherino': 690,
  'yoshi278': 691,
  'aflooser': 692,
  'HailAmeixing': 693,
  'DrVendax': 694,
  '76561197968167449': 695,
  '76561198202658078': 696,
  'AngelvitorGamer': 697,
  'hardtostopme': 698,
  'mario6345': 699,
  '76561198050441049': 700,
  'habbokid22': 701,
  'robotcoyote': 702,
  '76561198061318542': 703,
  'ciborg2000': 704,
  '95MAY': 705,
  'spiderwizard2': 706,
  'ConstantineTrading': 707,
  'jgbergmen': 708,
  '76561198047814645': 709,
  'autismothe1': 710,
  '76561198080651606': 711,
  '76561198078805700': 712,
  'frannleman': 713,
  'ghosthackz': 714,
  'Kyubi99': 715,
  'cheese_is_illuminati': 716,
  '76561198082474729': 717,
  '76561198052831153': 718,
  '76561198060622421': 719,
  'virtueavatar': 720,
  '76561198094933232': 721,
  'meglonoth': 722,
  'ArchangelItherael': 723,
  '76561198091429493': 724,
  'mostmlgpro420blazeitsteamprofile': 725,
  'BaaBaaCowSheep': 726,
  'onepercenter': 727,
  'linuxslacker': 728,
  '76561198050626210': 729,
  '76561198049698789': 730,
  'ohreoreoreo': 731,
  'OfficialVinyldash': 732,
  'matrix12384': 733,
  'Str1ke4': 734,
  '76561198097621779': 735,
  'ShureddoWeaboo': 736,
  '76561198063121287': 737,
  '76561198096785215': 738,
  'SassyLemon': 739,
  'moth3r888': 740,
  'BrodyL12': 741,
  'fuccboihectic': 742,
  'Uber__': 743,
  '76561198164934819': 744,
  'Banditx0r': 745,
  'Andromnicus': 746,
  '76561198069159558': 747,
  '2sBs': 748,
  'Lightbekon': 749,
  'idsoftwaresquake': 750,
  'Cropmy5': 751,
  'lexby': 752,
  '76561198059927915': 753,
  'darkayon': 754,
  'romulis13': 755,
  'UnorthadoxEnigma': 756,
  '76561197976546912': 757,
  'drunkchef': 758,
  'barrythebreadinspector': 759,
  'Kyall': 760,
  'ohplsguuby': 761,
  'H1DD3NT3RR0R': 762,
  '76561198025231200': 763,
  '76561198102241733': 764,
  '76561198066675343': 765,
  '76561198057543369': 766,
  '76561198037696460': 767,
  'llxUnknownxll': 768,
  'JugglerShang': 769,
  '76561198045501641': 770,
  '76561198056863768': 771,
  'Spitfire182GE': 772,
  'lodesofemone': 773,
  'BOBROSSJPEGEXE': 774,
  'jh13mvp': 775,
  'dukewikoli': 776,
  'BlueFoolPoland': 777,
  'avdl': 778,
  'Healfire': 779,
  'slushyb': 780,
  '76561198064157979': 781,
  'dk_ith': 782,
  'NetherCasts': 783,
  '76561198081148689': 784,
  'offlinebyourmine': 785,
  'CapCheeze': 786,
  'Murdocgreenskin': 787,
  '76561198142606609': 788,
  'leslam': 789,
  'Ash1261': 790,
  'phrostb': 791,
  '76561198133746607': 792,
  'razemini': 793,
  'ForensiX': 794,
  '76561198091852462': 795,
  '76561198042165187': 796,
  'Wdsy': 797,
  'JazzWazz': 798,
  'herplerp': 799,
  '76561198071207551': 800,
  'WCM03': 801,
  'Xasion': 802,
  'keractagon': 803,
  'jn0286': 804,
  'dootz': 805,
  'mastrix8': 806,
  'mrloopyland': 807,
  'GoldenSkillz': 808,
  'SunnyS': 809,
  'BESTPERSON': 810,
  '76561198070493014': 811,
  '76561198070497067': 812,
  'Flynntt': 813,
  'Pinguinbeta18': 814,
  'Tomatoman007': 815,